<div class="body-content-wrapper">

  <div class="body-content-inner">

    <div class="body-content">

      <h2>Edit job <%= @job.job_title.capitalize  %></h2>

      <%= render 'form' %>

      <%= link_to 'Show', @job %> |
      <%= link_to 'Back', jobs_path %>

    </div>

  </div>

</div>


