<div class="body-content-wrapper">

  <div class="body-content-inner">

    <div class="body-content">

      <h2>New job</h2>

      <%= render 'form' %>

      <%#= link_to 'Back', jobs_path %>

    </div>

  </div>

</div>

